body {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1B1B1B;
    background-image: url(./pics/triangles.png);
    font-size: 17px;
}

.page-title{
  color: #F0B500;
  font-size: 1.3em;
}
.navbar-brand {
  font-size: 20px;
  color: #f07800 !important;
  background-color: #000000;
}

.nav a {
  color: #F0B500 !important;
}

.nav a:hover {
    background-color: #F0B500 !important;
    color: #1B1B1B !important;
}

.copyright {
    color: #f07800;
}

.footer {
    text-align: center;

}

.footer a {
    color: #F0B500;
}

.sidebar {
  font-size: 14px;
  color: #F0B500 !important;
}

.sidebar h1 {
    color: #F0B500;
    font-size: 1.3em;
}

.sidebar a {
    color: #f07800;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #F0B500;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #F0B500;
    font-size: 1.3em;
}

.well h2 {
    color: #F0B500;
    font-size: 1.2em;
}

.well h3 {
    color: #F0B500;
    font-size: 1.3em;
}

.well h4 {
    color: #F0B500;
    font-size: 1.1em;
}

.well {
  background-color: #272727;
  box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 6px;
  color: #E5E5E5;
  font-family: 'Work Sans', sans-serif;
}

.post-content{
  color: #E5E5E5;
}

.post-date{
  font-size: small;
  color: #F0B500;
}

.well a {
  color: #f07800;
}

.well a:hover {
  color: #F0B500;
}

.col-md-9{
  color: #E5E5E5;
}


.col-md-9 h1 {
    color: #F0B500;
    font-size: 1.3em;
}

.col-md-9 h2 {
    color: #F0B500;
    font-size: 1.2em;
}

.col-md-9 h3 {
    color: #F0B500;
    font-size: 1.3em;
}

.col-md-9 h4 {
    color: #F0B500;
    font-size: 1.1em;
}

.col-md-9 h5 {
    color: #F0B500;
    font-size: 1.1em;
}



.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

hr {
height: 4px;
color: #f07800;
background-color: #f07800;
border: none;
}
